<div class="container">
    <div class="row">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../assets/404.png" class="d-block w-100" alt="..." />
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Pagina no encontrada</h5>
                        <p>La pagina a la que desea acceder no se ha encontrado. Vuelva a inicio</p>
                        <button type="button" class="btn btn-primary">Volver a Inicio</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>