<h2>Listado de Cursos Programacion Full Stack</h2>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Curso</th>
        <th colspan="2" scope="col">Duracion</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td colspan="2">Desarrollo Web</td>
        <td>2 meses</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td colspan="2">JavaScript</td>
        <td>2 meses</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Angular</td>
        <td>2 meses</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td colspan="2">React</td>
        <td>2 meses</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td colspan="2">VueJS</td>
        <td>2 meses</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td colspan="2">Base de datos</td>
        <td>2 meses</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td colspan="2">Programacion Backend</td>
        <td>2 meses</td>
      </tr>
    </tbody>
  </table>